body
// 	padding 0
// 	margin 0
	background repeating-linear-gradient(rgb(163,85,246) ,rgb(130,35,255) 50%,rgb(163,85,246) 100%)
.bg
	// height 100vh
	text-align center
	padding-bottom 1.34rem
	h2
		position relative
		top 0.9rem
		font-size 0.34rem
		color white
	#constellations
		display flex
		justify-content space-around
		flex-wrap wrap
		align-content space-around
		margin 1.43rem 0.74rem 0 0.83rem 
		div
			width: 1.45rem;
			font-size 0.26rem
			margin 0 0.15rem 0.25rem
			color white
			img
				width 1.21rem
				height 1.20rem
			p
				color white
				display inline-block
				width 100%
				margin 0 0 0.09rem
				font-size 0.22rem
	#cancel
		img
			margin-top 0.69rem
			width 0.60rem
